<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }

                <form asp-action="login2FA" method="post">
                    <div class="mb-3">
                        <label for="code_2fa" class="form-label">2FA code</label>
                        <input type="text" name="code_2fa" class="form-control" required />
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Tamam</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
