body {
    font-family: 'Segoe UI', sans-serif;
}

.nav-link:hover {
    background-color: #343a40;
}
.navbar-brand {
    letter-spacing: 1px;
}

input::placeholder {
    font-style: italic;
    font-size: 0.9rem;
}
a.btn-link:hover {
    text-decoration: underline;
    color: #0d6efd !important;
}
